body{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    line-height: 1.5em;
}

header{
    background: rgb(47, 80, 198);
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 20px rgb(9, 37, 198) solid;
    margin-bottom: 10px;
}

#container {
    width: 90%;
    margin: auto;
    padding: 10px;
}